.chartCreationControls {
  padding: 10px;
  width: 30%;
  border: 1px solid rebeccapurple;
  color: rebeccapurple;
  margin: 10px;
  border-radius: 5px;
  box-shadow: -4px 7px 32px -19px rgba(38,38,38,1);;

  .searchResult {
    list-style-type: none;
    color: rebeccapurple;
    padding: 10px;
    border: 1px solid #ccc;
    transition: 0.2s background-color;
    &:hover {
      cursor: pointer;
      background: #aaaaaa;
    }
  }

  .control {
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    font-weight: bold;
    border-bottom: 2px solid rebeccapurple;
  }

  .autocompleteContainer {
    position: relative;
    input {
      border-radius: 5px;
      height: 30px;
      width: 175px;
      font-size: 20px;
    }
    .autocompleteResults {
      padding: 0;
      margin: 0;
      position: absolute;
      z-index: 1;
      background: white;
    }
  }
}

