.financeGrid {
  border: 1px solid rebeccapurple;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: -4px 7px 32px -19px rgba(38,38,38,1);;
  height: 100%;

  header {
    padding: 10px;
  }
}

.chartCard {
  border: 1px solid rebeccapurple;
  color: rebeccapurple;
}